<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SpringEL 표현식</h1>
<ul> Object
    <li>${user.name} = <span th:text="${user.name}"></span></li>
    <li>${user.getName()} = <span th:text="${user.getName()}"></span></li>
    <li>${user['name']} = <span th:text="${user['name']}"></span></li>
</ul>
<ul> List
    <li>${users[0].name} = <span th:text="${users[0].name}"></span></li>
    <li>${users[0].getName()} = <span th:text="${users[0].getName()}"></span></li>
    <li>${users[0]['name']} = <span th:text="${users[0]['name']}"></span></li>
</ul>
<ul> Map
    <li>${userMap['userA'].name} = <span th:text="${userMap['userA'].name}"></span></li>
    <li>${userMap['userA'].getName()} = <span th:text="${userMap['userA'].getName()}"></span></li>
    <li>${userMap['userA']['name']} = <span th:text="${userMap['userA']['name']}"></span></li>
</ul>

<h1>지역변수 - (th:with)</h1>
<div th:with="first=${users[0]}">
    <p>처음 사람의 이름은 <span th:text="${first.name}"></span></p>
    <p>처음 사람의 나이는 <span th:text="${first.age}"></span></p>
</div>

</body>
</html>