<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order View</title>
</head>
<body>
    <form action="/orders" method="get">
    <h1>주문 목록</h1>
    <input type="submit" th:value="검색">검색</inputa>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회원명</th>
                <th>대표상품 이름</th>
                <th>주문가격</th>
                <th>대표상품 주문수량</th>
                <th>상태</th>
                <th>일시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}" >
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.getOrderItemName()}"></td>
                    <td th:text="${order.getTotalPrice()}"></td>
                    <td th:text="${order.getOrderItemCount()}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td>
                        <a th:href="@{/orders/{orderId}/cancel(orderId=${order.id})}" class="btn btn-primary" role="button">주문취소</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>
</body>
</html>