<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Order Form</title>
  <script>
    function validation() {

      let chk = true;
      let memberId = document.frm.memberId.value;
      let itemId = document.frm.itemId.value;
      if(memberId == 0) {
        alert('회원을 선택해주세요');
        chk =  false;
      } else if (itemId == 0) {
        alert('상품을 선택해주세요');
        chk = false;
      }

      if (chk) {
        document.frm.submit();
      }
    }
  </script>
</head>
<body>
<form name="frm" method="post" action="/order">
  <h1>HELLO SHOP</h1>
  <table>
    <tr>
      <th>주문회원</th>
      <td>
        <select th:name="memberId">
          <option value="0">회원선택</option>
          <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.getName()}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <th>상품명</th>
      <td>
        <select th:name="itemId">
          <option value="0">상품선택</option>
          <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.getName()}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <th>주문수량</th>
      <td>
        <input type="number" name="count">
      </td>
    </tr>
    <tr>
      <td th:colspan="2"><input type="button" value="submit" onclick="validation()"></td>
    </tr>
  </table>
</form>
</body>
</html>