<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Item Form</title>
  <script>
    function fnSubmit() {
      const id = document.frm.id;
      document.frm.action = '/items/'+id+'/edit';

    }

  </script>
</head>
<body>
<form name="frm" method="post" return="fnSubmit()">
  <input type="hidden" name="id" th:value="${item.id}">
  <table>
    <tr>
      <th>상품명</th>
      <td><input type="text" name="name" th:value="${item.name}"></td>
    </tr>
    <tr>
      <th>가격</th>
      <td><input type="number" name="price" th:value="${item.price}"></td>
    </tr>
    <tr>
      <th>수량</th>
      <td><input type="number" name="stockQuantity" th:value="${item.stockQuantity}"></td>
    </tr>
    <tr>
      <td th:colspan="2"><input type="submit"></td>
    </tr>
  </table>
</form>
</body>
</html>